apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vsphere-migration-controller
rules:
# Migration resources
- apiGroups:
  - migration.openshift.io
  resources:
  - vspheremigrations
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - migration.openshift.io
  resources:
  - vspheremigrations/status
  verbs:
  - get
  - update
  - patch
# Infrastructure resources
- apiGroups:
  - config.openshift.io
  resources:
  - infrastructures
  verbs:
  - get
  - list
  - watch
  - update
  - patch
# ClusterOperators for health checks
- apiGroups:
  - config.openshift.io
  resources:
  - clusteroperators
  verbs:
  - get
  - list
  - watch
# Machines and MachineSets
- apiGroups:
  - machine.openshift.io
  resources:
  - machines
  - machinesets
  - controlplanemachinesets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
# Secrets
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - update
  - patch
# ConfigMaps
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - update
  - patch
# Pods
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
  - delete
# Nodes
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
# Deployments (for CVO)
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - update
  - patch
# Events
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
